
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  display: block;
  font-family: Arial;
  font-size: 12px;
  color: #8c806e;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 87px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 102;
}

header .Center {
  max-width: 1100px;
  margin: auto;
}

header .site-logo {
  padding: 30px 0px 0px 0px;
  width: 220px;
  float: left;
  transition: all 0.3s;
}

header .site-logo h1 {
  margin: 0px;
}

header .site-logo h1 a {
  font-size: 36px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgb(3, 3, 3) 0px 2px 5px;
  transition: all 0.7s ease;
}

header .site-logo h1 a span {
  color: #ff9000;
}

.Navigation {
  float: right;
  width: 68.18%;
  margin-right: 11px;
}

.Navigation ul {
  list-style: none;
  margin: 0px;
  float: right;
}

.Navigation li {
  float: left;
  padding: 0px;
  margin: 0px;
  height: 87px;
  position: relative;
  transition: all 0.3s ease;
}

.Navigation li a {
  padding: 42px 41px 36px 41px;
  font-size: 16px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.Navigation li span {
  border-bottom: solid 5px #ff9000;
  background: rgba(56, 87, 122, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  transition: all 0.5s ease;
}

.Navigation li:hover span,
.Navigation li.active span {
  opacity: 1;
}

.menumobile {
  display: none
}

.Banner {
  width: 100%;
  background: url(img/Banner-bg.jpg) top center no-repeat;
  height: 524px;
  position: relative;
  background-size: cover;
}

.Banner .bannerside {
  width: 100%;
  position: absolute;
  top: 144px;
  left: 0px;
}

.Banner .Center {
  max-width: 1100px;
  margin: auto;
}

.Banner .leftside {
  padding: 92px 0px 0px 0px;
  width: 28.90%;
  float: left;
}

.Banner .leftside h3 {
  font-size: 36px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  line-height: 34px;
}

.Banner .leftside h3 span {
  color: #ff9000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: block;
}

.Banner .leftside p {
  padding: 16px 0px 26px 0px;
  font-size: 16px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0px;
  word-spacing: 2px;
  line-height: 22px;
}

.Banner .leftside a {
  padding: 11px 16px;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border: solid 1px #b0bdc8;
  background: rgba(64, 93, 118, 0.8);
  transition: all 0.3s ease;
}

.Banner .leftside a:hover {
  background: #ff9000;
  color: #fff;
  border: solid 1px #ff9000;
}

.Banner .rightside {
  width: 66%;
  float: right;
  position: relative;
}

.slider {
  position: relativ;
  width: 100%;
  float: right;
  z-index: 101;
  overflow: hidden;
}

.slide {
  position: absolute;
}

.slider li {
  float: right;
  list-style-type: none;
}

.slider img {
  height: auto;
  max-width: 100%;
}

.slider .slide:target {
  z-index: 100;
}

a.previous,
a.next {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 70px;
  position: absolute;
  top: 50%
}

a.previous {
  left: 50px
}

a.next {
  right: 50px
}

.About {
  padding: 115px 0px 88px 0px;
  width: 100%;
  overflow: hidden;
}

.About .Center {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.About h2 {
  font-size: 56px;
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: -0.4px;
}

.About p {
  padding: 24px 0px 35px 0px;
  font-size: 14px;
  color: #979797;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  font-weight: 400;
}

.About .Line {
  border: solid 1px #ff9408;
  height: 2px;
  width: 252px;
  margin: auto;
}

.about-items {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding-top: 50px;
  width: 70%;
  overflow: hidden;
  text-align: left;
}

.about-item {
  width: 40%
}

.item1 {
  float: left;
}

.item2 {
  float: right;
}

.about-items img {
  height: auto;
  max-width: 100%;
}

.Services {
  padding: 110px 0px 90px 0px;
  width: 100%;
  overflow: hidden;
  background: url(img/Services-bg.jpg) top center no-repeat;
  background-size: cover;
}

.Services .Center {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.Services h2 {
  font-size: 56px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
  line-height: 60px;
}

.Services p {
  padding: 25px 0px 35px 0px;
  font-size: 14px;
  color: #d8dfe5;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  font-weight: 400;
}

.Services .Line {
  border: solid 1px #ff9408;
  height: 2px;
  width: 252px;
  margin: auto;
}

.Services .Serviceside {
  padding: 76px 0px 30px 0px;
  width: 100%;
  overflow: hidden;
}

.Services .Serviceside ul {
  list-style: none;
  margin: 0px
}

.Services .Serviceside li {
  float: left;
  padding: 0px;
  margin: 0px 40px 0px 0px;
  text-align: center;
  width: 245px;
}

.Services .Serviceside li:last-child {
  margin-right: 0px;
}

.Services .Serviceside li.Development {
  padding: 44px 0px 161px 0px;
  background: url(img/Development-bg.jpg) no-repeat;
  box-shadow: 1px 4px 7px -4px rgba(0, 0, 0, 0.75);
}

.Services .Serviceside li.Development a {
  text-decoration: none;
  background: url(img/Development-cn.png) top center no-repeat;
  display: block;
}

.Services .Serviceside li.Development h4 {
  padding: 138px 0px 0px 0px;
  font-size: 17px;
  color: #03a4df;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.Services .Serviceside li.Development a:hover h4 {
  color: #fff;
  background: url(img/Develop-hover-icn.png) top center no-repeat;
}

.Services .Serviceside li.Desdin {
  padding: 44px 0px 159px 0px;
  background: url(img/desgin-bg.jpg) no-repeat;
  box-shadow: 1px 4px 7px -4px rgba(0, 0, 0, 0.75);
}

.Services .Serviceside li.Desdin a {
  text-decoration: none;
  background: url(img/desgin-icn.png) top center no-repeat;
  display: block;
}

.Services .Serviceside li.Desdin h4 {
  padding: 138px 0px 0px 0px;
  font-size: 18px;
  color: #ffab3f;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.Services .Serviceside li.Desdin a:hover h4 {
  color: #fff;
  background: url(img/desgin-hover-icn.png) top center no-repeat;
}

.Services .Serviceside li.Concept {
  padding: 44px 0px 159px 0px;
  background: url(img/concept-bg.jpg) no-repeat;
  box-shadow: 1px 4px 7px -4px rgba(0, 0, 0, 0.75);
}

.Services .Serviceside li.Concept a {
  text-decoration: none;
  background: url(img/concept-icn.png) top center no-repeat;
  display: block;
}

.Services .Serviceside li.Concept h4 {
  padding: 138px 0px 0px 0px;
  font-size: 18px;
  color: #ae382d;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.Services .Serviceside li.Concept a:hover h4 {
  color: #fff;
  background: url(img/concept-hover-icn.png) top center no-repeat;
}

.Services .Serviceside li.System {
  padding: 44px 0px 159px 0px;
  background: url(img/systam-bg.jpg) no-repeat;
  box-shadow: 1px 4px 7px -4px rgba(0, 0, 0, 0.75);
}

.Services .Serviceside li.System a {
  text-decoration: none;
  background: url(img/systam-icn.png) top center no-repeat;
  display: block;
}

.Services .Serviceside li.System h4 {
  padding: 138px 0px 0px 0px;
  font-size: 18px;
  color: #5e5f61;
  text-decoration: none;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.Services .Serviceside li.System a:hover h4 {
  color: #fff;
  background: url(img/systam-hover-icn.png) top center no-repeat;
}

.Pricing {
  padding: 112px 0px 108px 0px;
  width: 100%;
  overflow: hidden;
  background: #ececec;
}

.Pricing .Center {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.Pricing h2 {
  font-size: 57px;
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
  line-height: 60px;
}

.Pricing p {
  padding: 26px 0px 35px 0px;
  font-size: 14px;
  color: #8f8f8f;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  font-weight: 400;
}

.Pricing .Line {
  border: solid 1px #ff9408;
  height: 2px;
  width: 252px;
  margin: auto;
}

.Pricing .Pricingside {
  padding: 75px 0px 0px 0px;
  width: 100%;
  overflow: hidden;
  text-align: initial;
}

.Pricing .Pricingside ul {
  list-style: none;
  margin: 0px;
}

.Pricing .Pricingside li {
  float: none;
  padding: 0px;
  margin: 0px 0px 11px 0px;
  height: 103px;
  background: #fff;
  text-align: center;
}

.Pricing .Pricingside li .Basic {
  width: 55px;
  float: left;
  display: table;
  height: 103px;
  background: #ff9408;
  transition: all ease 0.3s;
}

.Pricing .Pricingside li .Basic h5 {
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
  color: #2d2d2d;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  clear: none;
  text-align: center;
}

.Pricing .Pricingside li .Dollar {
  padding: 22px 0px 21px 0px;
  width: 205px;
  float: left;
  background: #2d2d2d;
  transition: all ease 0.3s;
}

.Pricing .Pricingside li .Dollar h2 {
  font-size: 34px;
  color: #ff9408;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.Pricing .Pricingside li .Band {
  padding: 1px 30px;
  width: 173px;
  float: left;
  background: url(img/divider.png) right 16px no-repeat;
  transition: all 0.3s ease;
}

.Pricing .Pricingside li .Band p {
  font-size: 16px;
  color: #979797;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}

.Pricing .Pricingside li .Band p span {
  display: block;
}

.Pricing .Pricingside li .Band.last {
  background: none;
}

.Pricing .Pricingside li .Order {
  width: 147px;
  float: left;
  display: table;
  height: 103px;
}

.Pricing .Pricingside li .Order a {
  font-size: 17px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  background: #2d2d2d;
}

.Pricing .Pricingside li:hover .Basic {
  padding: 0px;
  background: #2d2d2d;
}

.Pricing .Pricingside li:hover .Basic h5 {
  color: #fff;
}

.Pricing .Pricingside li:hover .Band {
  padding: 0px;
  background: #2d2d2d url(img/divider-black.png) right 16px no-repeat;
  height: 103px;
}

.Pricing .Pricingside li:hover .Band p {
  color: #fff;
}

.Pricing .Pricingside li:hover .Dollar {
  background: #ff9408;
  color: #fff;
}

.Pricing .Pricingside li:hover .Dollar h2 {
  color: #fff;
}

.Pricing .Pricingside li:hover .Order a {
  background: #ff9408;
  color: #fff;
  transition: all 0.3s ease;
}

.Contact {
  position: relative;
}

#contact-map {
  width: 100%;
  height: 850px;
}

.contact-area {
  background: url(img/Get-bg.jpg);
  position: absolute;
  width: 70%;
  top: -50px;
  left: 0;
  right: 0;
  height: 550px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.contact-items {
  padding: 35px 40px;
  overflow: auto;
}

.contact-item {
  float: center;
  width: 345px;
  margin-right: 28px;
  color: #ffffff;
}

.contact-item:last-child {
  float: right;
  margin-right: 0;
}

.contact-item-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-item-description {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.contact-item-row {
  font-size: 18px;
  font-weight: 500;
  overflow: auto;
}


.Contact .Leftside {
  width: 45%;
  float: left;
}

.Contact .Leftside fieldset {
  padding: 0px;
  margin: 0px;
}

.Contact .Leftside p {
  padding: 0px;
  margin: 0px 0px 20px 0px;
}

.Contact .Leftside input.field {
  padding: 18px 20px 10px 10px;
  font-size: 13px;
  color: #979797;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: 0px;
  width: 100%;
  box-shadow: 0px 2px 6px 0px #242424;
  -webkit-box-shadow: 0px 2px 6px 0px #242424;
  -moz-box-shadow: 0px 2px 6px 0px #242424;
  -o-box-shadow: 0px 2px 6px 0px #242424;
  border-radius: 0px;
}

.Contact .Leftside input:focus {
  outline: none;
}

.Contact .Leftside textarea {
  padding: 18px 20px 17px 20px;
  font-size: 14px;
  color: #979797;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: 0px;
  width: 100%;
  height: 156px;
  resize: none;
  box-shadow: 0px 2px 6px 0px #242424;
  -webkit-box-shadow: 0px 2px 6px 0px #242424;
  -moz-box-shadow: 0px 2px 6px 0px #242424;
  -o-box-shadow: 0px 2px 6px 0px #242424;
  border-radius: 0px;
}

.Contact .Leftside textarea:focus {
  outline: none;
}

.Contact .Leftside .button {
  padding: 16px 0px 17px 0px;
  margin-top: -3px;
  font-size: 14px;
  color: #e9ecee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  background: #e2850a;
  border: 0px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 2px 6px 0px #242424;
  -webkit-box-shadow: 0px 2px 6px 0px #242424;
  -moz-box-shadow: 0px 2px 6px 0px #242424;
  -o-box-shadow: 0px 2px 6px 0px #242424;
  border-radius: 0px;
  transition: all 0.3s ease;
}

.Contact .Leftside .button:hover {
  background: #2d2d2d;
  color: #fff;
}

.Contact .Rightside {
  padding-top: 12px;
  width: 45%;
  float: right;
}

.Contact .Rightside h3 {
  padding-bottom: 44px;
  font-size: 46px;
  color: #f88e04;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
  line-height: 46px;
}

.Contact .Rightside address {
  padding: 0px 0px 27px 65px;
  margin-left: 3px;
  font-size: 14px;
  color: #ebedf1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: url(img/location-icn.png) left 4px no-repeat;
  line-height: 24px;
}

.Contact .Rightside address.Number {
  background: url(img/phone-icn.png) left 5px no-repeat;
}

.Contact .Rightside address.Email {
  margin-left: 4px;
  background: url(img/mail-icn.png) left 0px no-repeat;
}

.Contact .Rightside address.Email a {
  text-decoration: none;
  color: #ebedf1;
}

.Contact .Rightside address.Email a:Hover {
  color: #f88e04;
}

.Contact .Rightside ul {
  list-style: none;
  margin: 0px;
  padding: 27px 0px 0px 3px;
}

.Contact .Rightside li {
  float: left;
  padding: 0px;
  margin: 0px 22px 0px 0px;
}

.Contact .Rightside li a {
  text-decoration: none;
}

footer .Central {
  position: relative;
  width: 100%;
  background-color: #8fc2d4;
  height: 80px;
}

.copyright {
  position: absolute;
  left: 30%;
  top: 50%;
  font-size: 17px;
  transform: translateY(-50%);
  width: 50%;
}

.copyright-label {
  color: black;

}

.copyright-title {
  color: #ffba00;
}

.social-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  display: block;
}

.social-menu ul {
  overflow: auto;
}

.social-menu li {
  list-style-type: none;
  float: right;
}

.social-menu a {
  text-decoration: none
}

.social-menu .fa {
  text-decoration: none;
  padding: 12px 14px;
  font-size: 22px;
  width: 55px;
  height: 55px;
  color: #fff;
  cursor: pointer;
}

.social-menu .fa:hover {
  color: orange
}
